@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  height: 5rem;
  width: 10rem;
  object-fit: cover;
}

header h1 {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 5rem;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

header p {
  margin: 0;
  font-size: 1.25rem;
  color: #8964b0;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

main h2 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #a18aba;
}

#core-concepts,
#course-goals {
  padding: 2rem;
  border-radius: 6px;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

#core-concepts ul,
#course-goals ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#core-concepts li,
#course-goals li {
  width: 10rem;
  text-align: center;
}

#core-concepts li img {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
}

#core-concepts li h3,
#course-goals li h3 {
  margin: 0.5rem 0;
}

#core-concepts li p,
#course-goals li p {
  font-size: 0.9rem;
}

#examples {
  margin: 3rem auto;
}

#examples h2 {
  text-align: left;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #a18aba;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#examples menu button:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

#examples menu button.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}

/** Card Exercise Styles **/

.card {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 30rem;
  border-radius: 6px;
  background: linear-gradient(#280a48, #1b082f);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 100%;
  height: 10rem;
  object-fit: contain;
  border-radius: 6px;
}

.card h2 {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e5d9f1;
}

.card p {
  margin: 0.5rem 0;
}

.card a {
  color: #934be0;
  text-decoration: none;
}


/** LoginForm Exercise Styles **/
#loginForm {
  margin: 2rem auto;
  padding: 0.5rem 2rem;
  max-width: 25rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#230736, #301247);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

h1 {
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  color: #c7a0ee;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: left;
  color: #9f80bf;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #493066;
  background: #493664;
  color: #e5d9f1;
  font-size: 0.9rem;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

/* tag element style */
/* button {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #5812b9;
  background: #5812b9;
  color: #e5d9f1;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

button:hover {
  background: #6c1fd6;
} */


/** Highly reusable custom Button Exercise Styles **/
.button {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.button-icon {
  width: 1rem;
  height: 1rem;
}

.filled-button {
  background: linear-gradient(#7fa1f7, #6085e4);
  color: #030a1b;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.filled-button:hover {
  background: linear-gradient(#89a9fb, #6890f6);
}

.filled-button:disabled {
  background: #a3a9b7;
  color: #3a445c;
  box-shadow: none;
  cursor: not-allowed;
}

.outline-button {
  border: 1px solid #2658d6;
  color: #2658d6;
}

.outline-button:hover {
  background: #cbd8fc;
}

.text-button {
  color: #2658d6;
}

.text-button:hover {
  background: #cbd8fc;
}

/** Two-Way Binding Exercise Styles **/
#feedback {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #669ae7;
  color: #041023;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#feedback p {
  margin: 0.5rem 0;
}

#feedback label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #364660;
  font-size: 0.85rem;
  margin: 0.25rem 0;
}

#feedback input,
#feedback textarea {
  font: inherit;
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #798aa9;
  background-color: #b4c4e6;
  color: #041023;
}

#draft {
  font-family: 'Lato', sans-serif;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #67d7b0;
  color: #0b3929;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#draft figure {
  margin: 0;
  padding: 0;
}

#draft blockquote {
  margin: 0 2rem;
  padding: 0.5rem 1rem;
  background-color: #65b69a;
  border-radius: 4px;
  color: #042217;
  font-style: italic;
}

#draft blockquote p {
  margin: 0;
}

#draft figcaption {
  margin: 0.2rem 0;
  font-size: 0.75rem;
}

#draft button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #0b3929;
  color: #ecf8f4;
  font-size: 1rem;
  cursor: pointer;
}